rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{postId} {
      allow read: if true;
      allow create: if request.resource.data.keys().hasAll(['title','body','nickname','createdAt'])
        && request.resource.data.title is string && request.resource.data.title.size() > 0 && request.resource.data.title.size() <= 120
        && request.resource.data.body is string && request.resource.data.body.size() > 0 && request.resource.data.body.size() <= 10000
        && request.resource.data.nickname is string && request.resource.data.nickname.size() <= 40;
      allow update: if true;
      allow delete: if true;

      match /comments/{commentId} {
        allow read: if true;
        allow create: if request.resource.data.keys().hasAll(['body','nickname','createdAt'])
          && request.resource.data.body is string && request.resource.data.body.size() > 0 && request.resource.data.body.size() <= 2000
          && request.resource.data.nickname is string && request.resource.data.nickname.size() <= 40;
        allow update: if true;
        allow delete: if true;
      }
    }
  }
}
